<!-- Subcategory -->
<!-- Title generated from todolist -->
<tr class="category">
    <td><!-- Spacer --></td>
    <td><a class="selectable" href="#">{{title}}</a></td>
    <td><span>{{todo_count}}</span></td>
</tr>