body * { box-sizing: border-box; }
body { background-color: black; }
main {
	width: 1020px;
	padding: 25px;
	margin: 0 auto;
	background-color: white;
}

figure { margin: 0; }
img {
	width: 100%;
}

ul { list-style: none; }

#slideshow {
	position: relative;
	overflow: hidden;
}

#slides {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 800px;
}

#slides figure {
	position: absolute;
	width: 100%;
}

#slides figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: black;
	color: white;
}

#slideshow a.prev {
	left: 20px;
}

#slideshow a.next {
	right: 20px;
	background-position: 100% 0;
}

#slideshow a.prev, #slideshow a.next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 48px;
	height: 80px;
	margin-top: -40px;
	background-image: url("../images/icon_pager.png");
	text-indent: -9999px;
}

footer header {
	position: relative;
}

li img { width: 50px; }

.actions {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}

.button {
	display: inline-block;
	border-radius: 10%;
	padding: 10px;
	text-decoration: none;
	background-color: lightblue;
	color: white;
}

.like {
	background-color: blue;
}

.favorite {
	background-color: pink;
	color: black;
}

dd { margin: 0; }