@import url("eric-meyer-reset.css");
@import url("simple-grid.css");

* {	
	box-sizing: border-box; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
	background-color: #694F92;
	padding: 20px;
}

header h1 {
	color: white;
}

header p {
	color: lightgrey;
}

h2 { font-size: 30px; }
h3 { font-size: 24px; }

a {
	text-decoration: none;
}

.page-header { border-bottom: 1px #eee solid; }
.button-outline{
	display: inline-block;
	line-height: 16px;
	margin: 8px;
	padding: 10px 16px;
	border: #694F92 2px solid;
	border-radius: 12px;
}

.button {
	background-color: white;
	color: #694F92;
}

.button:hover {
	background-color: #694F92;
	color: white;
}

/*Contacts*/
li {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	min-width: 476px;
}

a img {
	width: 16px;
	height: 16px;
}

dt, dd { line-height: 20px; }
dt { font-weight: bold; }

.contact { 
	height: 220px;
	min-width: 420px
	margin-right: 25px;
	margin-bottom: 30px; 
	padding: 15px;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.thumbnail, .media-info {
	text-align: left;
	display: inline-block;
	padding: 0 10px;
}

.thumbnail {
	padding: 4px;
	margin-right: 25px;
	border: 1px solid lightgrey;
	border-radius: 6px;
}

.media-info {}
.media-object {
	border-radius: 6px;
}

/*Editor*/
form a, form input { width: 100%; }
#submit-edit, #cancel-edit { margin: 0; }
input {
	display: block;
	line-height: 16px;
	padding: 10px 16px;
	border: #eee 1px solid;
	border-radius: 6px;
}

label {
	text-align: right;
	padding: 10px 0;
	font-weight: bold;
}