<div class="list">
  <div class="list-header">
    <div class="list-title">
      {{!-- generated --}}
    </div>
    <a class="list-overflow-menu" href="#">
      <i class="glyphicon glyphicon-option-horizontal"></i>
    </a>
  </div>
  <div class="card-list" droppable="true">
    {{!-- cards appended here --}}
  </div>
  <div class="add-card">
    {{!-- Generated --}}
  </div>
</div>
